body, html {
    height: 100%;
}

body {
    position: absolute;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    color: #0A0E05;
    display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
    color: white;
    display: inline-block;
    margin-right: 10px;
}


.repos {
    display: flex;
    overflow: auto;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.repos-child {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
    border-radius: 5px;
    margin: 2px;
    color: white;
}

.repos-title-text {
    font-size: 100%;
}

.repos-source-text {
    font-size: 100%;
}

.repos-error {
    font-weight: bold;
    color: red;
}

.well-border-fix {
    border-top: 1px transparent;
    border-bottom: 1px transparent;
}

.well-ok {
    border-left: 15px solid #00bc8c;
}

.well-warning {
    border-left: 15px solid #f39c12;
}

.well-danger {
    border-left: 15px solid #e74c3c;
}

.well-unknown {
    border-left: 15px solid #8e929b;
}

.repo-title {
    width: 100%;
    height: 25px;
    margin-top: 0;
}

.repo-name {
}

.repo-status {
    float: right;
    margin-left: 5px;
}

.repo-commits-behind {
    float: right;
    margin-left: 5px;
    color: yellow;
}

.repo-commits-ahead {
    float: right;
    margin-left: 5px;
    color: orange;
}

.up-to-date {
    background-color: #00bc8c;
}

.need-to-pull {
    background-color: #f39c12;
}

.need-to-push {
    background-color: #f39c12;
}

.diverged {
    background-color: #e74c3c;
}
